@font-face {
  font-family: FreightBigProLight;
  font-display: swap;
  src: url("../fonts/FreightBigProLight-Italic.woff2") format("woff2"), url("../fonts/FreightBigProLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: adieu;
  font-display: swap;
  src: url("../fonts/adieu.woff2") format("woff2"), url("../fonts/adieu.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "FreightBigProLight-Italic", sans-serif;
  --third-family: "Adieu", sans-serif;
  --font3: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 700;
  color: #fff;
  background: #fafafa;
}

body::-webkit-scrollbar-track {
  background: #17176c;
}

.container {
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.06em;
  color: #fff;
  border: 1px solid rgba(253, 253, 253, 0.32);
  width: 183px;
  height: 48px;
}

.btn__more {
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__more::before {
  content: "";
  display: block;
  height: 1px;
  width: 8px;
  margin-right: 9px;
  background: rgba(49, 49, 49, 0.2);
}

.btn__more::after {
  content: "";
  display: block;
  height: 1px;
  width: 56px;
  margin-left: 9px;
  background: rgba(49, 49, 49, 0.2);
}

.title {
  font-size: 36px;
}

.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  opacity: 0.7;
}

.logo,
.header__lang,
.header__btn {
  z-index: 11;
}

.burger {
  display: none;
  z-index: 10;
}

.burger__wrap {
  position: relative;
  width: 32px;
  height: 25px;
  padding: 2px;
}

.burger__wrap span {
  position: absolute;
  height: 1px;
  width: 28px;
  background-color: #fff;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__wrap span:nth-child(2) {
  top: 15px;
}

.header {
  background: grey;
}

.header__relative {
  position: relative;
}

.container__absolute {
  z-index: 20;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.header__hero {
  position: absolute;
  top: 38%;
  z-index: 11;
  width: 500px;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
  left: 39%;
}

.header__aside {
  position: absolute;
  bottom: 6.4%;
  right: 3.3%;
  -webkit-transform: translateX(-4%);
      -ms-transform: translateX(-4%);
          transform: translateX(-4%);
  height: 300px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 11;
}

.header__main-footer {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 40px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.06em;
}

.hero__title {
  font-size: 56px;
  line-height: 120%;
}

.hero__btn-more {
  margin-top: 40px;
}

.hero__btn-more::before,
.hero__btn-more::after {
  background: rgba(255, 255, 255, 0.4);
}

.aside__text {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.06em;
}

.aside__title {
  font-size: 48px;
  line-height: 98%;
  letter-spacing: 0.04em;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: -2px;
  margin-right: 13px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.main-footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.main-footer__location {
  margin-left: 121px;
  position: relative;
}

.main-footer__contacts {
  margin-left: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__mail {
  margin-left: 32px;
}

.location__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #c4c4c4;
  border-radius: 88px;
  width: 117px;
  height: 24px;
}

.location__text {
  margin-left: 6px;
  margin-right: 31px;
}

.location__content {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 30px;
  right: 0;
  width: 117px;
  background: rgba(125, 124, 124, 0.5411764706);
  padding: 5px 30px;
  border-radius: 10px;
}

.location__content span {
  margin-top: 10px;
}

.location__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location__arrow.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__wrapper {
  padding-top: 24px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.06em;
}

.header__lang {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 12fr 2fr 3fr;
  grid-template-columns: 2fr 12fr 2fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
  margin-left: 8%;
  gap: 48px;
}

.menu__item:first-child {
  display: none;
}

.logo {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3em;
}

.menu__btn {
  display: none;
}

.swiper {
  top: 0;
  width: 100%;
  height: 100vh;
}

.swiper .swiper-scrollbar-drag {
  background-color: #fff;
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
}

.swiper-pagination-progressbar {
  background-color: rgba(255, 255, 255, 0.32);
  width: 186px !important;
  height: 1px !important;
  margin-top: 5px;
  margin-left: 16%;
}

.swiper-pagination-progressbar-fill {
  background-color: #fff !important;
}

.progressbar__wrap {
  font-size: 11px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 61.49vh;
  right: 1.96vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 208px;
}

.progressbar__btn-next,
.progressbar__btn-prev {
  min-width: 35px;
  cursor: pointer;
}

.btn-prev__arrow {
  margin-right: 11px;
}

.btn-next__arrow {
  margin-left: 11px;
}

.philosophy {
  color: #080808;
  position: relative;
  margin-top: 224px;
}

.philosophy__wrap {
  max-width: 40%;
  margin-left: 10.2%;
}

.philosophy__img-right {
  position: absolute;
  right: 0;
  top: -8.2%;
  width: 36%;
  max-width: 513px;
}

.philosophy__img-right img {
  width: 100%;
}

.philosophy__text {
  margin-top: 14px;
}

.philosophy__text:first-of-type {
  margin-top: 30px;
}

.philosophy__btn-more {
  color: #080808;
  margin-top: 11%;
}

.philosophy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20%;
}

.row__photo {
  position: relative;
  width: 24.2%;
  margin-left: 10.2%;
}

.row__img-top {
  display: block;
  position: absolute;
  left: 75%;
  top: -32%;
  width: 88%;
}

.row__img-top img {
  width: 100%;
}

.row__img-static {
  display: block;
  width: 100%;
}

.row__img-static img {
  width: 100%;
}

.row__right {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 11.5% 12% 0 0;
}

.row__img-text {
  width: 18px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 10px;
}

.row__text {
  font-size: 20px;
}

.projects {
  background: #080808;
  margin-top: 140px;
  padding-top: 10%;
}

.projects__wrap {
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

.projects__text {
  margin-top: 35px;
}

.projects__galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 8px;
  margin-top: 10%;
}

.projects__block {
  position: relative;
  height: 100%;
}

.projects__picture img {
  width: 100%;
  height: 100%;
}

.block__inner {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 32px;
  display: none;
  width: 100%;
}

.block__visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.71;
}

.block__title {
  font-size: 22px;
  line-height: 1.27;
}

.block__btn-more {
  display: none;
}

.block__btn-more::before {
  background: rgba(255, 255, 255, 0.4);
}

.block__btn-more::after {
  background: rgba(255, 255, 255, 0.4);
  width: 63px;
}

.block-6 {
  display: none;
}

.block-large {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.block-more {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.block-more__title {
  margin-top: -8%;
  font-size: 22px;
  line-height: 127%;
  color: #080808;
}

.block-more__picture-link {
  width: 37%;
}

.block-more__picture-link img {
  width: 100%;
}

.request {
  position: relative;
  background: #080808;
  padding: 12.5% 8.5% 12.5% 9.1%;
}

.request__galery {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 24.4%;
  left: 48.8%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 41%;
}

.request__photo {
  display: block;
  width: 211px;
  height: 273px;
}

.request__photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.request__photo_10 {
  z-index: 3;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.request__photo_9 {
  margin-left: -159px;
  z-index: 4;
  margin-top: -8px;
}

.request__photo_8 {
  margin-left: -159px;
  z-index: 5;
  margin-top: -23px;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.request__photo_7 {
  margin-left: -155px;
  z-index: 6;
  margin-top: -43px;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.request__photo_6 {
  margin-left: -147px;
  z-index: 7;
  margin-top: -75px;
  -webkit-transform: rotate(-11deg);
      -ms-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.request__photo_5 {
  margin-left: -172px;
  z-index: 8;
  margin-top: -91px;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.request__photo_4 {
  margin-left: -156px;
  z-index: 9;
  margin-top: -100px;
}

.request__photo_3 {
  margin-left: -157px;
  z-index: 10;
  margin-top: -117px;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.request__photo_2 {
  margin-left: -156px;
  z-index: 11;
  margin-top: -139px;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.request__photo_1 {
  margin-left: -148px;
  z-index: 12;
  margin-top: -167px;
  -webkit-transform: rotate(-11deg);
      -ms-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.request__wrap {
  position: relative;
  z-index: 15;
}

.request__title {
  line-height: 1.42;
  width: 40%;
}

.request__text {
  width: 33%;
  margin: 27px 0 0 auto;
}

.request__btn {
  background: #fff;
  color: #080808;
  margin: 42px 15.7% 0 auto;
}

.lorem {
  position: relative;
  color: #080808;
  overflow: hidden;
}

.lorem__photo {
  position: absolute;
  z-index: -15;
}

.lorem__photo_1 {
  bottom: 62.4%;
  right: 3.2%;
}

.lorem__photo_2 {
  bottom: 81.4%;
  right: 17.6%;
}

.lorem__photo_3 {
  bottom: 62.4%;
  left: 5.6%;
}

.lorem__photo_4 {
  bottom: 41%;
  left: -14.2%;
}

.lorem__photo_5 {
  top: 81%;
  left: -13.2%;
}

.lorem__photo_6 {
  top: 61.4%;
  left: 14.9%;
}

.lorem__photo_7 {
  top: 80.4%;
  right: 27%;
}

.lorem__photo_8 {
  bottom: 5%;
  right: -10.5%;
}

.lorem__wrap {
  margin: 26.8% auto 25.7% auto;
  text-align: center;
  width: 33%;
}

.lorem__title {
  font-size: 56px;
}

.lorem__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 22px;
}

.no-webp .footer {
  background: url(../img/footer-img.png) 0 0/100% no-repeat; }

.footer {
  background-color: #080808;
  padding-top: 119px;
}

.footer__text {
  margin-top: 24px;
  opacity: 0.6;
}

.footer__wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  margin-top: 72px;
}

.footer__btn {
  color: #080808;
  background: #fff;
}

.footer__first-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.8;
}

.footer__first-wrap span:first-child {
  font-family: var(--third-family);
  font-size: 12px;
  margin-left: -33px;
  font-weight: 400;
}

.footer__first-wrap span:last-child {
  font-family: var(--second-family);
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

.list__item {
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.06em;
  margin-top: 10px;
}

.list__item:first-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  margin: 0 0 24px 0;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 56px;
  }

  .title {
    font-size: 32px;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5px;
    margin-left: 11%;
  }

  .burger__wrap {
    display: block;
  }

  .burger__wrap.active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
  }

  .burger__wrap.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 13px;
  }

  .burger__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5px;
    margin-left: 23px;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    left: -108%;
    width: 100%;
    display: block;
    height: 100%;
    z-index: 5;
    font-weight: 700;
    font-size: 32px;
    background: #080808;
    opacity: 0.98;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 208px;
    padding-left: 21%;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }

  .menu__item {
    opacity: 0.5;
    margin-top: 5%;
  }

  .menu__item:first-child {
    margin-top: 0;
    display: unset;
  }

  .nav__menu.active {
    top: 0;
    left: -8%;
  }

  body.lock {
    overflow: hidden;
  }

  .header__hero {
    width: 440px;
    top: 40%;
    left: 41.5%;
  }

  .header__main-footer {
    bottom: 33px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__main-footer.active {
    bottom: 48px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__btn-more {
    margin-top: 31px;
  }

  .aside__title {
    font-size: 32px;
  }

  .main-footer__location {
    margin-left: 83px;
  }

  .main-footer__contacts,
  .main-footer__mail {
    margin-left: 40px;
  }

  .header__btn {
    width: 158px;
    height: 42px;
    margin-right: -4px;
  }

  .header__lang {
    margin-left: 23%;
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .swiper-pagination-progressbar {
    width: 148px !important;
    margin-left: 18%;
  }

  .progressbar__wrap {
    gap: 170px;
    top: 60.35vh;
    right: 3.6vw;
  }

  .philosophy {
    margin-top: 183px;
  }

  .philosophy__img-right {
    top: -7.2%;
    width: 34%;
    aspect-ratio: 349/439;
  }

  .philosophy__img-right img {
    height: 100%;
  }

  .philosophy__wrap {
    max-width: 48%;
    margin-left: 11.6%;
  }

  .philosophy__text:first-of-type {
    margin-top: 17px;
  }

  .philosophy__btn-more {
    margin-top: 7.8%;
  }

  .philosophy__row {
    margin-top: 21.2%;
  }

  .row__photo {
    width: 21%;
    margin-left: 11.5%;
  }

  .row__img-top {
    left: 80.3%;
    top: -40%;
    width: 100%;
  }

  .row__img-top img {
    width: 100%;
  }

  .row__right {
    width: 38%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
    margin: 6.2% 10% 0 0;
  }

  .row__img-text {
    width: 11px;
  }

  .row__text {
    font-size: 16px;
  }

  .projects {
    padding-top: 10.9%;
  }

  .projects__wrap {
    width: 50%;
  }

  .projects__text {
    margin-top: 25px;
  }

  .projects__galery {
    margin: 12.65% -2px 0 2px;
    grid-gap: 6px;
  }

  .block__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 31px 0 35px 30px;
  }

  .block__top {
    margin-left: 6px;
    gap: 24px;
    font-weight: 500;
    font-size: 11px;
  }

  .block__title {
    font-size: 20px;
    color: #fafafa;
  }

  .block__btn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6%;
  }

  .block-large .block__top {
    gap: 16px;
  }

  .block-large .block__foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 -7px 4px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .block-large .block__title {
    width: 30%;
  }

  .block-large .btn__more {
    margin: 0 8.5% 6px 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .block-more__title {
    font-size: 20px;
    margin-top: -12%;
  }

  .request {
    padding: 12.5% 0 14% 0;
  }

  .request__galery {
    display: none;
  }

  .request__wrap {
    text-align: center;
  }

  .request__title {
    width: 40%;
    margin: 10px auto 0 auto;
  }

  .request__text {
    width: 50%;
    margin: 25px auto 0 auto;
  }

  .request__btn {
    margin: 7.2% auto 0 auto;
    height: 42px;
  }

  .lorem__wrap {
    margin: 37.3% auto 36% auto;
    width: 45%;
  }

  .lorem__title {
    font-size: 48px;
  }

  .lorem__text {
    margin-top: 25px;
  }

  .lorem__photo_1 {
    bottom: 58.2%;
    right: 3.1%;
  }

  .lorem__photo_2 {
    bottom: 74.8%;
    right: 20.3%;
  }

  .lorem__photo_3 {
    bottom: 58.2%;
    left: -4.5%;
  }

  .lorem__photo_4 {
    bottom: 39.5%;
    left: -29%;
  }

  .lorem__photo_5 {
    display: none;
  }

  .lorem__photo_6 {
    top: 60%;
    left: 0.3%;
  }

  .lorem__photo_7 {
    top: 76.7%;
    right: 23%;
  }

  .lorem__photo_8 {
    bottom: 8%;
    right: -21.5%;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 0 48px;
  }

  .burger {
    margin-top: -2px;
    margin-left: 23%;
  }

  .nav__menu {
    padding-top: 47%;
    padding-left: 25%;
  }

  .menu__item {
    margin-top: 7%;
  }

  .burger__text {
    margin-left: 17px;
  }

  .header__hero {
    width: 260px;
    left: 36%;
  }

  .header__aside {
    height: auto;
    bottom: 3.5%;
  }

  .header__main-footer.active {
    bottom: 32px;
  }

  .hero__title {
    font-size: 44px;
  }

  .aside__title {
    margin-left: 2px;
  }

  .main-footer__location {
    margin-left: 64px;
  }

  .main-footer__contacts,
  .main-footer__mail {
    margin-left: 32px;
  }

  .header__lang {
    margin: 4px 0 0 -10px;
  }

  .header__btn {
    margin-right: 0;
  }

  .progressbar__wrap {
    top: 59.7vh;
    right: 2.1vw;
  }

  .philosophy {
    margin-top: 107px;
  }

  .philosophy__img-right {
    display: none;
  }

  .philosophy__wrap {
    max-width: 81%;
  }

  .philosophy__btn-more {
    margin-top: 6.1%;
  }

  .philosophy__row {
    margin-top: 30.7%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row__photo {
    width: 22.7%;
  }

  .row__img-top {
    width: 250%;
    left: 91%;
    top: -74%;
  }

  .row__right {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 3% 11% 0 0;
    width: 48%;
  }

  .projects {
    margin-top: 97px;
    padding-top: 13.8%;
  }

  .projects__wrap {
    width: 68%;
  }

  .projects__galery {
    margin-top: 15%;
    margin: 14.5% 0 0 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .block__inner {
    padding: 29px 0 35px 30px;
  }

  .block__top {
    margin: 0;
    gap: 17px;
  }

  .block__btn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4%;
  }

  .block-more__title {
    margin-top: 0;
  }

  .request {
    padding-bottom: 16.4%;
  }

  .request__title {
    width: 54%;
    margin-top: 24px;
  }

  .request__text {
    width: 70%;
    margin-top: 26px;
  }

  .lorem__wrap {
    margin: 54% auto 52% auto;
    width: 65%;
  }

  .lorem__title {
    font-size: 44px;
  }

  .lorem__text {
    margin-top: 27px;
  }

  .lorem__photo_1 {
    bottom: 58.6%;
    right: -19.9%;
  }

  .lorem__photo_2 {
    bottom: 74%;
    right: 2.7%;
  }

  .lorem__photo_3 {
    bottom: 62%;
    left: -3.4%;
  }

  .lorem__photo_4 {
    bottom: 46%;
    left: -35%;
  }

  .lorem__photo_6 {
    top: 65.3%;
    left: -3.1%;
  }

  .lorem__photo_7 {
    top: 81%;
    right: 11%;
  }

  .lorem__photo_8 {
    bottom: 7%;
    right: -43.5%;
  }
}

@media (max-width: 680px) {
  .header__main-footer {
    left: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 78%;
  }

  .main-footer__text {
    display: none;
  }

  .main-footer__location {
    margin-left: 0;
  }

  .main-footer__contacts {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .main-footer__mail {
    margin-left: 0;
    margin-top: 8px;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 0 24px;
  }

  .title {
    font-size: 26px;
  }

  .header__lang {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: 30px;
  }

  .header__btn {
    display: none;
  }

  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
  }

  .nav__menu {
    font-size: 26px;
    text-align: center;
  }

  .menu__item {
    margin-top: 9%;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 14%;
  }

  .header__hero {
    top: 41%;
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
  }

  .header__main-footer {
    width: 80%;
  }

  .hero__title {
    font-size: 40px;
  }

  .aside__text {
    display: none;
  }

  .aside__title {
    font-size: 18px;
  }

  .nav {
    -ms-grid-columns: 2fr 12fr 3fr;
    grid-template-columns: 2fr 12fr 3fr;
  }

  .swiper-pagination-progressbar {
    width: 88px !important;
    margin-left: 24%;
  }

  .progressbar__wrap {
    gap: 110px;
    top: 26vh;
    right: 23vw;
  }
}

@media (max-width: 450px) {
  .nav__menu {
    padding-top: 40%;
    padding-left: 0;
  }

  .header__hero {
    left: 34%;
  }

  .header__main-footer {
    bottom: 20px;
  }

  .header__main-footer.active {
    width: 96%;
    bottom: 22px;
  }

  .main-footer__contacts {
    margin-right: 20px;
  }

  .hero__title {
    line-height: 100%;
  }

  .hero__btn-more {
    margin-top: 35px;
  }

  .aside__title {
    margin: 4px 0 0 8px;
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: initial;
  }

  .header__wrapper {
    padding-top: 16px;
  }

  .item__btn {
    width: 158px;
    height: 42px;
    margin: -4px 6px 0 0;
  }

  .nav {
    -ms-grid-columns: 2fr 10fr 4fr;
    grid-template-columns: 2fr 10fr 4fr;
  }

  .progressbar__wrap {
    right: auto;
    left: 29.5%;
    top: 26.5vh;
  }

  .philosophy {
    margin-top: 84px;
  }

  .philosophy__wrap {
    max-width: 100%;
    margin-left: 0;
  }

  .philosophy__btn-more {
    margin-top: 10.6%;
  }

  .philosophy__row {
    margin-top: 60.6%;
  }

  .row__photo {
    width: 40.2%;
    margin-left: 0;
  }

  .row__img-top {
    width: 198%;
    left: 51%;
    top: -71%;
  }

  .row__right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 23% 0 0 0%;
    width: 100%;
    gap: 32px;
  }

  .projects {
    padding-top: 12.4%;
  }

  .projects__wrap {
    width: 100%;
    text-align: left;
  }

  .projects__text {
    margin-top: 16px;
  }

  .projects__galery {
    margin-right: 2px;
    margin-top: 25%;
  }

  .block__inner {
    padding: 22px 0 26px 23px;
  }

  .block__top {
    margin-left: 0;
  }

  .block__foot {
    width: 90%;
  }

  .block__btn-more {
    margin-top: 4%;
  }

  .block-6 {
    display: block;
  }

  .block-more {
    gap: 18px;
  }

  .block-more__title {
    margin-top: 4px;
  }

  .request {
    padding-bottom: 16.2%;
  }

  .request__wrap {
    text-align: start;
  }

  .request__title {
    width: 90%;
    margin: 50px 0 0 0;
    line-height: 1.21;
  }

  .request__text {
    width: 100%;
    margin-top: 25px;
  }

  .request__btn {
    margin: 10.8% 0 0 2px;
  }

  .lorem__wrap {
    margin: 100% auto 25% auto;
    width: 100%;
  }

  .lorem__title {
    font-size: 32px;
  }

  .lorem__text {
    margin-top: 18px;
  }

  .lorem__photo_1 {
    bottom: 56.6%;
    right: 3.1%;
  }

  .lorem__photo_2 {
    bottom: 259%;
    right: 17.7%;
  }

  .lorem__photo_3 {
    bottom: 136%;
    left: 5.6%;
  }

  .lorem__photo_4 {
    bottom: -2%;
    left: -14%;
  }

  .lorem__photo_5 {
    top: 245%;
    left: -13.2%;
  }

  .lorem__photo_6 {
    top: 118.3%;
    left: 14.9%;
  }

  .lorem__photo_7 {
    top: 241%;
    right: 27%;
  }

  .lorem__photo_8 {
    bottom: -236%;
    right: -10.5%;
  }
}

.webp .footer { background: url(../img/footer-img.webp) 0 0/100% no-repeat; }